* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg-primary: #aa3030;
  --color-bg-variant: #d14444;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #dadada;
  --color-grey-dark: #676767;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.7;
  background: var(--color-bg-primary) !important;
}

.bg-primary {
  background-color: var(--color-bg-primary);
}

.bg-variant {
  background-color: var(--color-bg-variant);
}

.bg-grey {
  background-color: var(--color-grey);
}

/* =============== GENERAL STYLES =============== */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

a.on-hover {
  transition: var(--transition) !important;
  color: var(--color-black) !important;
}

/* =============== MEDIA SIZE (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* =============== MEDIA SIZE (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
