.pkdx-detail {
  margin-right: 20px;
}

.pkdx-detail__card {
  padding: 0 6rem;
}

.table-content {
  text-align: right;
}

@media (min-width: 770px) and (max-width: 1024px) {
  .pkdx-detail__card {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .pkdx-detail__card {
    padding: 0 1rem;
  }
}

@media (max-width: 600px) {
  .pkdx-detail {
    margin: 0;
  }
}
