.pkdx-detail__card {
  padding: 0 6rem;
}

@media only screen and (min-width: 770px) and (max-width: 1024px) {
  .pkdx-detail__card {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .pkdx-detail__card {
    padding: 0 1rem;
  }
}
