.pkdx-list {
  display: block;
  width: fit-content;
  max-height: 58vh;
  height: 58vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.pkdx-list__content {
  display: block;
  float: right;
  width: 100%;
  padding-top: 20px;
}

.pkdx-list__content-card img {
  margin-top: -40px;
}

.pkdx__infinite-scroll {
  max-height: 60vh;
  height: 100%;
}
